ion-card {
  margin: 10px;
}

ion-card-header {
  margin-bottom: 10px;
}

ion-card-title {
  font-size: 20px;
  font-weight: bold;
}

ion-card-subtitle {
  font-size: 14px;
  color: #777;
}

ion-card-content h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

ion-card-content p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

ion-item {
  font-size: 14px;
}
