.tab3-page {
  padding: 10px;
}

ion-list ion-item {
  margin-bottom: 10px;
}

ion-thumbnail img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

ion-label {
  font-weight: bold;
  font-size: 16px;
}

